//
// Variables
//

// Breakpoints
$breakpoints: (
  s: 576px,
  m: 768px,
  l: 992px,
) !default;

// Base Colors
$green:    #0f766e !default;
$blue:     #4f46e5 !default;
$red:      #e11d48 !default;
$yellow:   #f0b100 !default;
$white:    #ffffff !default;
$black:    #09090b !default;

// Grays
$gray-50:  #fafafa !default;
$gray-100: #f4f4f5 !default;
$gray-200: #e4e4e7 !default;
$gray-300: #d4d4d8 !default;
$gray-400: #a1a1aa !default;
$gray-600: #52525b !default;
$gray-700: #3f3f46 !default;
$gray-800: #27272a !default;
$gray-900: #18181b !default;
$gray-950: #09090b !default;
