//
// Breakpoints & Media Query Mixin
//

$breakpoints: (
  s: 576px,
  m: 768px,
  l: 992px,
) !default;

@mixin breakpoint($key, $direction: min) {
  $breakpoint: map-get($breakpoints, $key);
  $media: if($direction == "max", ($breakpoint - 1), $breakpoint);

  @if not $breakpoint {
    @warn 'Breakpoint #{$key} not found in map.';
  } @else {
    @media (#{$direction}-width: $media) {
      @content;
    }
  }
}

