.alert {
  background-color: var(--alert-bg, var(--bg-primary));
  color: var(--alert-color, var(--color-title));
  border-left: 3px solid;
  padding: 1.25rem;

  a[href]:not([class]) {
    color: inherit;
    text-decoration: underline;
  }

  strong:not([class]) {
    color: inherit;
  }

  &-info {
    --alert-bg: var(--info-bg);
    --alert-color: var(--info);
  }

  &-success {
    --alert-bg: var(--success-bg);
    --alert-color: var(--success);
  }

  &-danger {
    --alert-bg: var(--danger-bg);
    --alert-color: var(--danger);
  }

  &-warning {
    --alert-bg: var(--warning-bg);
    --alert-color: var(--warning);
  }
}