.btn {
  color: var(--btn-color, var(--color-text));
  padding: .5rem .75rem;
  background-color: var(--btn-bg, var(--bg-primary));
  font-weight: 500;
  border-radius: .5rem;
  transition-property: color, background-color, box-shadow;
  transition-duration: .3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;

  &:not(:where(div, p)):hover {
    --btn-bg: var(--bg-secondary);
  }

  &-primary {
    --btn-color: var(--primary);
    --btn-bg: var(--btn-primary);

    &:hover {
      --btn-bg: var(--btn-primary-hover);
    }
  }
}