code,
pre {
  font-family: var(--font-monospace);
}

:not(pre)>code {
  padding: .2em .4em;
  white-space: nowrap;
  background-color: var(--surface-tint);
  border-radius: .4em;
  font-weight: 400;
  font-size: .875rem;
}

.highlight {
  --bg-scrollbar: transparent;
  --bg-scrollbar-track: var(--code-scrollbar-track);
  --bg-scrollbar-thumb: var(--code-scrollbar-thumb);
  background: var(--surface-inverse);
  position: relative;
  border-radius: .5rem;
  white-space: normal;
  line-height: 1.5;

  pre {
    background-color: transparent !important;
    overflow-x: auto;
    color: var(--on-surface-inverse);
    padding: 1rem 0;

    scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-track);
    scrollbar-width: thin;

    @include breakpoint(s) {
      padding: 1.5rem 0;
    }
  }

  code {
    display: table;
    white-space: pre;
    font-size: .875rem;
    width: 100%;

    >span:not(.line) {
      padding: 0 1rem;

      @include breakpoint(s) {
        padding: 0 1.5rem;
      }
    }
  }

  .line {
    display: block;
    padding: 0 1rem;

    @include breakpoint(s) {
      padding: 0 1.5rem;
    }

    &.hl {
      background-color: var(--primary-selection);
      box-shadow: 3px 0 0 var(--primary) inset;
    }
  }
}

.code-copy {
  position: absolute;
  right: -.5rem;
  top: -.5rem;
  border-radius: 50rem;
  background-color: var(--bg, var(--code-copy-bg));
  color: var(--on-surface-inverse);
  padding: 0.5rem;
  transition: background-color .3s;
  --svg-size: 18px;

  &:hover {
    --bg: var(--primary);
  }
}

.annotated-note,
.explain {
  padding: 1.25rem 1.5rem;
  background-color: var(--surface-container);
  margin-block: var(--space-block, 1.5rem);
  --space-block: 1rem;

  pre {
    padding: 1rem;
    background-color: var(--surface-tint);
    overflow: auto;
    white-space: pre-wrap;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.annotated {
  margin-block: var(--space-block, 1.5rem);

  > *:not(.annotated-note, .explain) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }

  > :is(.annotated-note, .explain) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.chroma {
  .nt,
  .nn {
    color: var(--syntax-tag);
  }

  .na,
  .nc {
    color: var(--syntax-attr);
  }

  .p,
  .o {
    color: var(--syntax-operator);
  }

  .c,
  .cm,
  .c1,
  .cp {
    color: var(--syntax-comment);
    font-style: italic;
  }

  .kd,
  .kr,
  .nd {
    color: var(--syntax-keyword);
  }

  .kd+.nx,
  .nv,
  .n {
    color: var(--syntax-variable);
  }

  .kr+.nx {
    color: var(--syntax-constant);
  }

  .s2 {
    color: var(--syntax-string);
  }

  .mi,
  .kt,
  .mh {
    color: var(--syntax-number);
  }

  .nb,
  .nf {
    color: var(--syntax-function);
  }
}

.brackets {
  font-family: var(--font-monospace);

  &::before,
  &::after {
    color: var(--outline);
  }

  &::before {
    content: "{";
  }

  &::after {
    content: "}";
  }
}