code,
pre {
  font-family: var(--font-monospace);
}

:not(pre)>code {
  padding: .2em .4em;
  white-space: nowrap;
  background-color: var(--surface-container);
  border-radius: .4em;
  font-weight: 400;
  font-size: .875rem;
}

.highlight {
  --bg-scrollbar: transparent;
  --bg-scrollbar-track: var(--code-scrollbar-track);
  --bg-scrollbar-thumb: var(--code-scrollbar-thumb);
  background: var(--syntax-bg);
  position: relative;
  border-radius: var(--highlight-radius);
  white-space: normal;
  line-height: 1.5;

  &[filename]::before {
    content: attr(filename);
    display: block;
    padding: .75rem;
    font-size: .875rem;
    line-height: 1;
    background-color: var(--syntax-gutter);
    border-top-left-radius: var(--highlight-radius);
    border-top-right-radius: var(--highlight-radius);
    color: var(--syntax-muted);
  }

  pre {
    background-color: transparent !important;
    overflow-x: auto;
    color: var(--syntax-fg);
    padding: 1rem 0;

    scrollbar-color: var(--code-scrollbar-thumb) var(--code-scrollbar-track);
    scrollbar-width: thin;

    @include breakpoint(s) {
      padding: 1.5rem 0;
    }
  }

  code {
    display: table;
    white-space: pre;
    font-size: .875rem;
    width: 100%;

    >span:not(.line) {
      padding: 0 1rem;

      @include breakpoint(s) {
        padding: 0 1.5rem;
      }
    }
  }

  .line {
    display: block;
    padding: 0 1rem;

    @include breakpoint(s) {
      padding: 0 1.5rem;
    }

    &.hl {
      background-color: var(--syntax-selection);
      box-shadow: 3px 0 0 var(--syntax-selection-border) inset;
    }
  }

  .ln {
    padding-inline-end: 1.5rem;
    color: var(--syntax-muted);
  }

  .lntd:first-child {
    background-color: var(--syntax-gutter);
    border-top-left-radius: var(--highlight-radius);
    border-bottom-left-radius: var(--highlight-radius);
  }

  .lnt {
    color: var(--syntax-muted);
  }

  .lnlinks {
    color: var(--syntax-link);
  }
}


.code-copy {
  position: absolute;
  right: -.5rem;
  top: -.5rem;
  border-radius: 50rem;
  background-color: var(--bg, var(--surface-inverse-low));
  color: var(--on-surface-inverse);
  padding: 0.5rem;
  transition: background-color .3s;
  --svg-size: 18px;

  &:hover {
    --bg: var(--primary);
  }
}

.annotated-note,
.explain {
  padding: 1.25rem 1.5rem;
  background-color: var(--surface-container);
  margin-block: var(--space-block, 1.5rem);
  --space-block: 1rem;

  pre {
    padding: 1rem;
    background-color: var(--surface-container);
    overflow: auto;
    white-space: pre-wrap;
  }

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.annotated {
  margin-block: var(--space-block, 1.5rem);

  >*:not(.annotated-note, .explain) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-block-end: 0;
  }

  > :is(.annotated-note, .explain) {
    margin-block: 0;
  }
}

.chroma {
  color: var(--syntax-fg);

  .nt {
    color: var(--syntax-tag);
  }

  .na {
    color: var(--syntax-attribute);
  }

  .nc,
  .nn {
    color: var(--syntax-class);
  }

  .p,
  .w {
    color: var(--syntax-punctuation);
  }

  .o,
  .ow {
    color: var(--syntax-operator);
  }

  .c,
  .cm,
  .c1,
  .cp,
  .cpf {
    color: var(--syntax-comment);
    font-style: italic;
  }

  .kd,
  .k,
  .kc,
  .kn,
  .kp,
  .kr,
  .kw {
    color: var(--syntax-keyword);
  }

  .kt {
    color: var(--syntax-type);
  }

  .n,
  .nv,
  .nx {
    color: var(--syntax-variable);
  }

  .l,
  .ld,
  .lg,
  .li,
  .ln,
  .ls,
  .no {
    color: var(--syntax-constant);
  }

  .s,
  .sa,
  .sb,
  .sc,
  .sd,
  .se,
  .sh,
  .si,
  .s1,
  .s2,
  .ss,
  .sx {
    color: var(--syntax-string);
  }

  .sr {
    color: var(--syntax-regex);
  }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo {
    color: var(--syntax-number);
  }

  .nb,
  .nf {
    color: var(--syntax-function);
  }

  .nd {
    color: var(--syntax-decorator);
  }

  .ne,
  .err {
    color: var(--syntax-error);
  }
}

.brackets {
  font-family: var(--font-monospace);

  &::before,
  &::after {
    color: var(--outline);
  }

  &::before {
    content: "{";
  }

  &::after {
    content: "}";
  }
}