.i {
  stroke-width: 2;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: var(--svg-size, 20px);
  height: var(--svg-size, 20px);

  &-md {
    --svg-size: 24px;
  }
}