.menu {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-link {
    color: var(--link-color, inherit);
    font-size: 1rem;

    &:hover {
      color: var(--primary);
    }
  }

  &-item {
    position: relative;

    &.is-current>.menu-link,
    &.is-current>label .menu-link {
      --link-color: var(--primary);
    }

    svg {
      color: var(--color-border-inset);
      flex: none;
    }
  }

  &-arrow {
    margin-left: auto;
    transition: transform .3s;
  }

  &-toggle {
    display: none;

    &:checked+label .menu-arrow {
      transform: rotate(180deg);
    }

    &:not(:checked)~.submenu-list {
      display: none;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.submenu {
  &-list {
    color: var(--color-text);
    font-weight: 400;
    box-shadow: 2px 0 0 0 var(--color-border) inset;
    margin-left: 0.625rem;
    margin-top: .75rem;
    gap: .5rem;
  }

  &-item {
    padding-left: 1.5rem;
  }

  &-link {
    font-size: .875rem;

    &.is-active {
      --link-color: var(--color-title);
      font-weight: 500;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: var(--color-title);
      }
    }
  }
}