.steps {
  position: relative;

  >ol {
    counter-reset: steps;
    list-style: none;
    margin-inline-start: 0.75rem;
    padding: 0;

    >li {
      position: relative;
      counter-increment: steps;
      border-inline-start: 1px solid var(--outline);
      padding-inline-start: 1.75rem;
      padding-bottom: 1.5rem;

      &:last-child {
        border-inline-start-color: transparent;
        padding-bottom: 0;
      }

      &::before {
        content: counter(steps);
        position: absolute;
        inset-inline-start: calc(-.875rem - .5px);
        display: grid;
        place-content: center;
        width: 1.75rem;
        height: 1.75rem;
        background-color: var(--surface);
        color: var(--on-surface);
        border: 1px solid var(--outline);
        font-size: .875rem;
        font-weight: 500;
        z-index: 1;
        outline: .5rem solid var(--surface);
      }

      > :is(h2, h3, h4, h5, h6):first-child {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
        min-height: 1.75rem;
        line-height: 1.75rem;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }
  }
}