{{ define "main" }}
  <main class="main-section">
    <div class="container">
      <div class="section-info">
        <h1 class="section-title">{{ partial "title" . }}</h1>
        {{ with .Description }}
          <p class="section-description">{{ . }}</p>
        {{ end }}
      </div>
      <div class="section-content">
        <ul class="section-list">
          {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ partial "title" . }}</a></li>
          {{ else }}
            <li><a href="#no-item">{{ i18n "no_items" }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </main>
{{ end }}