<header class="article-header flex items-center">
  <h1 class="article-title fw-600">
    {{- partial "title" .Page -}}
    {{- if eq .Page.Params.badge true -}}
      {{- $badgeText := default site.Params.badge_text .Page.Params.badge_text -}}
      {{- $badgeText = default (i18n "new") $badgeText -}}
      {{- $badgeURL := default site.Params.badge_url .Page.Params.badge_url -}}

      {{- if $badgeURL -}}
        <a href="{{ $badgeURL }}" class="badge badge-big" target="_blank" rel="noreferrer noopener">{{ $badgeText }}</a>
      {{- else -}}
        <span class="badge badge-big">{{ $badgeText }}</span>
      {{- end -}}
    {{- end -}}
  </h1>
  {{- if site.Params.github_repo_edit -}}
    {{- with .Page.File }}
      <a class="article-edit flex-none i-md" href="{{ site.Params.github_repo_edit }}/{{ .Path | replaceRE `\\` "/" }}" data-tts="down-right" aria-label="{{ i18n "edit_on_github" }}">
        {{ partial "svg" (dict "icon" "pencil") }}
      </a>
    {{- end }}
  {{- end -}}
</header>
<div class="article-body markdown">
  {{- .Content -}}
</div>
{{- if site.Params.pagination | default true -}}
  {{- partial "pagination" . -}}
{{- end -}}