<header class="article-header">
  <div class="article-header-content">
    <h1 class="article-title has-icon">
      {{- partial "title" .Page -}}
      {{- if eq .Page.Params.badge true -}}
        {{- $badgeText := default (or site.Params.docs_badge_text site.Params.badge_text) .Page.Params.badge_text -}}
        {{- $badgeText = default (i18n "new") $badgeText -}}
        {{- $badgeURL := default (or site.Params.docs_badge_url site.Params.badge_url) .Page.Params.badge_url -}}

        {{- if $badgeURL -}}
          <a href="{{ $badgeURL }}" class="badge badge-big" target="_blank" rel="noreferrer noopener">{{ $badgeText }}</a>
        {{- else -}}
          <span class="badge badge-big">{{ $badgeText }}</span>
        {{- end -}}
      {{- end -}}
    </h1>
  </div>
  {{- $docsContext := partialCached "docs-context" .Page (or .Page.Path .Page.RelPermalink) -}}
  {{- $editURL := or site.Params.docs_edit_url site.Params.github_repo_edit -}}
  {{- if and $docsContext.isDoc $editURL -}}
    {{- with .Page.File }}
      <a class="article-edit tooltip tooltip-start" href="{{ $editURL }}/{{ .Path | replaceRE `\\` "/" }}" aria-label="{{ i18n "edit_on_github" }}">
        {{ partial "svg" (dict "icon" "pencil") }}
      </a>
    {{- end }}
  {{- end -}}
</header>
<div class="article-body markdown">
  {{- .Content -}}
</div>
{{- partial "pagination" . -}}