{{- $pages := slice -}}

{{- range (where .Section.Pages "Params.hidden" "ne" true) -}}
  {{- $isRedirect := or (isset .Params "redirect") (eq .Params.layout "redirect") -}}
  {{- $hasContent := or .RawContent .Content -}}

  {{- if and (not $isRedirect) $hasContent -}}
    {{- $pages = $pages | append . -}}
  {{- end -}}

  {{- if .IsSection -}}
    {{- $subPages := partial "flat-pages" (dict "Section" .) -}}
    {{- $pages = $pages | append $subPages -}}
  {{- end -}}
{{- end -}}

{{- return $pages -}}