{{- $copyright := replace site.Params.copyright "{{Year}}" (now.Year | string) -}}

{{- $date := .Lastmod -}}

{{- if .GitInfo }}
  {{- $date := .GitInfo.AuthorDate  -}}
{{- end }}

{{- $lastmod := $date.Format (site.Params.date_format | default "2006-01-02") -}}

<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-item">{{ i18n "edited" }}: {{ $lastmod }}</div>
    {{- with $copyright }}
      <div class="footer-item">{{ . | markdownify }}</div>
    {{- end }}
  </div>
</footer>
