{{- $page := . -}}
{{- $class := "doc" -}}
{{- if reflect.IsMap . -}}
  {{- $page = default . .page -}}
  {{- $class = default $class .class -}}
{{- end -}}
{{- $docsContext := partialCached "docs-context" $page (or $page.Path $page.RelPermalink) -}}
<div class="{{ $class }} layout container">
  <aside class="aside" id="docs-sidebar" aria-label='{{ if $docsContext.isDoc }}{{ i18n "documentation" | default "Documentation" }}{{ else }}{{ i18n "main_menu" | default "Main menu" }}{{ end }}'>
    {{ partial "sidebar" $page }}
  </aside>
  <main class="main main-index" id="main-content" tabindex="-1">
    {{- $i18n := dict "copy" (i18n "copy") "copied" (i18n "copied") "error" (i18n "copy_error" | default "Failed to copy!") -}}
    <article class="article" data-i18n='{{ $i18n | jsonify }}'>
      {{ partial "article" $page }}
      {{ partial "footer" $page }}
    </article>
    <aside class="toc" aria-label='{{ i18n "contents" | default "Contents" }}'>
      {{ partial "toc" $page }}
    </aside>
  </main>
</div>
