{{- $href := .href -}}
{{- $u := urls.Parse $href -}}
{{- $scheme := lower $u.Scheme -}}
{{- $isExternal := or (in (slice "http" "https") $scheme) (hasPrefix $href "//") -}}
{{- $isSpecial := or (hasPrefix $href "#") (and $scheme (not (in (slice "http" "https") $scheme))) -}}
{{- $url := cond $isExternal $href (cond $isSpecial $href ($href | relLangURL)) -}}
{{- $rel := .rel | default (cond $isExternal "noreferrer noopener" "") -}}
{{- $target := cond $isExternal "_blank" "" -}}
{{- return (dict "url" $url "isExternal" $isExternal "rel" $rel "target" $target) -}}
