{{- $options := dict "targetPath" "js/bundle.js" -}}
{{- $jsBundle := resources.Get "js/main.js" | js.Build $options | resources.Minify | fingerprint -}}
{{- $flexSearch := resources.GetRemote "https://cdn.jsdelivr.net/npm/flexsearch@0.8/dist/flexsearch.bundle.min.js" | resources.Minify | fingerprint -}}
{{- $searchJSFile := printf "js/%s.search.js" .Language.Lang -}}
{{- $searchJS := resources.Get "js/search.js" | resources.ExecuteAsTemplate $searchJSFile . | resources.Minify | fingerprint -}}

<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>

{{- with .Section -}}
  <script src="{{ $flexSearch.RelPermalink }}" integrity="{{ $flexSearch.Data.Integrity }}" defer></script>
  <script src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}" defer></script>
{{- end -}}