{{- $docsContext := partialCached "docs-context" . (or .Path .RelPermalink) -}}
{{- if and $docsContext.isDoc $docsContext.versionPage -}}
<div class="search" id="search-box" role="dialog" aria-modal="true" aria-label='{{- i18n "search" -}}'>
  <div class="search-content scrollable" data-dialog>
    <div class="search-form">
      <label class="search-icon" for="search-input">{{ partial "svg" (dict "icon" "search") }}</label>
      <input class="search-input" id="search-input" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{- i18n "search_in_doc" -}}' maxlength="64" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="listbox" aria-controls="search-results"/>
      <button data-close="" aria-label='{{ i18n "close" }}' class="search-close">
        {{ partial "svg" (dict "icon" "xmark") }}
      </button>
    </div>
    <div class="search-results">
      <div class="search-list" id="search-results" role="listbox" aria-label='{{- i18n "search" -}}' aria-live="polite"></div>
    </div>
  </div>
</div>
{{- $file := "" -}}
{{- if $docsContext.isSingleVersion -}}
  {{- $file = printf "json/%s.%s.index.json" $.Language.Lang $docsContext.section -}}
{{- else -}}
  {{- $file = printf "json/%s.%s.%s.index.json" $.Language.Lang $docsContext.section $docsContext.version -}}
{{- end -}}
{{- $index := resources.Get "json/index.json" | resources.ExecuteAsTemplate $file $docsContext.versionPage | resources.Minify | resources.Fingerprint -}}
<script id="search-config" type="application/json">{{ dict "indexUrl" $index.RelPermalink "i18n" (dict "noResults" (i18n "no_results") "searchError" (i18n "search_error")) | jsonify | safeJS }}</script>
{{- end -}}
