{{- $docsContext := partial "docs-context" . -}}
<div class="section-content">
  <div class="section-group">
    <h2 class="section-subtitle">{{ i18n "versions" }}</h2>
    <ul class="section-list">
      {{- range $docsContext.versionPages -}}
        <li>
          <a class="has-icon" href="{{ .RelPermalink }}">
            {{- with .Params.icon -}}
              {{ partial "svg" (dict "icon" .) }}
            {{- end -}}
            <span>{{ partial "title" . }}</span>
          </a>
        </li>
      {{- else -}}
        <li><a href="#no-item">{{ i18n "no_items" }}</a></li>
      {{- end -}}
    </ul>
  </div>
</div>


