{{- $docsContext := partialCached "docs-context" . (or .Path .RelPermalink) -}}
<div class="aside-tree scrollable">
  <div class="aside-content">
    {{- with $docsContext.versionPage -}}
      {{ template "tree-list" (dict "Section" . "CurrentPage" $ "Level" 0) }}
    {{ end }}
    {{ partial "menu" . }}
  </div>
</div>

{{ define "tree-list" }}
  {{ $currentNode := .CurrentPage }}
  {{ $level := default 0 .Level }}
  {{ $isSub := gt $level 0 }}
  {{ $nextLevel := add $level 1 }}
  <ul class="tree-list{{ if $isSub }} subtree-list{{ end }} level-{{ $level }}">
    {{ range (where .Section.Pages "Params.hidden" "ne" true) }}
      <li class="tree-item{{ if $isSub }} subtree-item{{ end }} level-{{ $level }}-item{{if or (eq $currentNode .Page) (.IsAncestor $currentNode )}} is-current{{end}}">
        {{ if .IsSection }}
          <input class="tree-toggle{{ if $isSub }} subtree-toggle{{ end }}" type="checkbox" id="tree-{{ md5 .Page }}"{{ if or site.Params.docs_expand_tree site.Params.expand_tree (eq $currentNode .Page) (.IsAncestor $currentNode) }} checked=""{{ end }}>
          {{ template "tree-link" (dict "Page" . "CurrentPage" $.CurrentPage "Level" $level ) }}
          {{ template "tree-list" (dict "Section" . "CurrentPage" $.CurrentPage "Level" $nextLevel ) }}
        {{ else if and .IsPage .RawContent }}
          {{ template "tree-link" (dict "Page" . "CurrentPage" $.CurrentPage "Level" $level ) }}
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "tree-link" }}
  {{ $level := default 0 .Level }}
  {{ $isSub := gt $level 0 }}
  {{- if .Page.IsSection -}}
    <label for="tree-{{ md5 .Page }}" class="tree-label has-icon{{ if $isSub }} subtree-label{{ end }}">
  {{ end }}
  {{- $title := partial "title" .Page -}}
  <a href="{{ .Page.Permalink }}" data-name="{{ $title }}" class="tree-link has-icon{{ if $isSub }} subtree-link{{ end }} level-{{ $level }}-link{{ if (eq .CurrentPage .Page) }} is-active{{ end }}">
    {{ partial "svg" (dict "icon" .Page.Params.icon ) }}
    {{- $title -}}

    {{- if eq .Page.Params.badge true -}}
      {{- $badgeText := default (or site.Params.docs_badge_text site.Params.badge_text) .Page.Params.badge_text -}}
      {{- $badgeText = default (i18n "new") $badgeText -}}

      <span class="badge">{{ $badgeText }}</span>
    {{- end -}}
  </a>

  {{- with .Page.IsSection -}}
    {{ $arrowClass := "tree-arrow" }}
    {{- if $isSub }}{{ $arrowClass = "tree-arrow subtree-arrow" }}{{ end -}}
    {{ partial "svg" (dict "icon" "chevron-down" "class" $arrowClass ) }}
  {{ end }}

  {{- if .Page.IsSection -}}
    </label>
  {{ end }}
{{ end }}