{{- $docsContext := partial "docs-context" . -}}
{{- $links := slice -}}
{{- $handled := slice -}}

{{- with site.Menus.main -}}
  {{- range . -}}
    {{- $isDocs := false -}}
    {{- if and .Page $docsContext.docsSection (eq .Page $docsContext.docsSection) -}}
      {{- $isDocs = true -}}
    {{- else if and .Page (in $docsContext.versionPages .Page) -}}
      {{- $isDocs = true -}}
    {{- else if and .Page (eq .Page.FirstSection $docsContext.docsSection) -}}
      {{- $isDocs = true -}}
    {{- else if or (eq .URL (printf "/%s" $docsContext.section)) (eq .URL (printf "/%s/" $docsContext.section)) (hasPrefix .URL (printf "/%s/" $docsContext.section)) -}}
      {{- $isDocs = true -}}
    {{- end -}}

    {{- if not $isDocs -}}
      {{- $resolved := partial "resolve-link" (dict "href" .URL) -}}
      {{- $title := or (and .Page (partial "title" .Page)) (and .Identifier (i18n .Identifier)) .Name -}}
      {{- $icon := or .Params.icon (and .Page .Page.Params.icon) -}}
      {{- $links = $links | append (dict "url" $resolved.url "title" $title "icon" $icon "isExternal" $resolved.isExternal "target" $resolved.target "rel" $resolved.rel "weight" (default 0 .Weight)) -}}
      {{- $handled = $handled | append .URL -}}
      {{- with .Page -}}
        {{- $handled = $handled | append .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- range (where site.RegularPages "Section" "ne" $docsContext.section) -}}
  {{- if and (ne .Params.hidden true) (not (in (slice "redirect" "404") .Layout)) (not (isset .Params "redirect")) -}}
    {{- if not (in $handled .RelPermalink) -}}
      {{- $links = $links | append (dict "url" .RelPermalink "title" (partial "title" .) "icon" .Params.icon "isExternal" false "target" "" "rel" "" "weight" (default 999 .Weight)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return (sort $links "weight" "asc") -}}

