{{ define "main" }}
<main class="main-section">
  <div class="container">
    {{- if .Content -}}
      <div class="article-body markdown">
        {{ .Content }}
      </div>
    {{- else -}}
      <div class="section-info">
        <h1 class="section-title">{{ with .Title }}{{ . }}{{ else }}{{ site.Title }}{{ end }}</h1>
        <p class="section-description">{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}</p>
      </div>
    {{- end -}}
  </div>
</main>
{{ end }}