{{- $class := .Get "class" | default (.Get 0) -}}
{{- $inner := replaceRE `(?m)^\s*---\s*$` "§SPLIT§" .Inner -}}
{{- $inner = replaceRE `(?m)^\s*<!--\s*split\s*-->\s*$` "§SPLIT§" $inner -}}
{{- $parts := split $inner "§SPLIT§" -}}
<div class="columns{{ with $class }} {{ . }}{{ end }}">
  {{- range $parts -}}
    {{- $content := . | strings.TrimSpace -}}
    {{- if $content -}}
      <div class="column">
        {{- $.Page.RenderString $content -}}
      </div>
    {{- end -}}
  {{- end -}}
</div>